<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Vue ToDoList</title>
  </head>
  <body>

    <!-- Inizio App/Container -->
    <div id="app">
      <!-- LOGO -->
      <div class="logo">
        <img src="https://www.boolean.careers/images/misc/logo.png" alt="">
        <hr>
      </div>

      <div class="todo-list">
        <input type="text" @keyUp.enter='addTodo' placeholder="Aggiungi alla lista" v-model='newTodo'>
        <button @click='addTodo'>Aggiungi</button>
      </div>

      <div class="todos-container">
        <ul v-if='todos.length > 0'>
          <li class='todo' v-for='(todo, index) in todos'> {{ index + 1 + ')' + todo }}</li>
          <i></i>

        </ul>
      </div>

    </div>
    <!-- Fine App/Container -->


    <script src="js/script.js" charset="utf-8"></script>

  </body>
</html>
